.create-product {
  background-color: #000;
  padding: 15px;
  border-radius: 0.5rem;
}
.create-product form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.create-product label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
}
input[type='file'] {
}
button.btn {
  margin-top: 20px;
  width: fit-content;
}
