/* .App {
  display: flex;
} */
.App .container {
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 60px;
}
@media (max-width: 767px) {
  .App .container {
    padding: 0 40px;
  }
}
